Repository apple-yagi/nextjs-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: rome format --write, rome check, prisma format

Add urql-codegen.ts
  urql-codegen.ts
Due: rome format --write, rome check

Add tailwind.confing.js
  tailwind.config.js
Due: rome format --write, rome check

Add .npmrc
  .npmrc
Due: none

Add convert-prisma-notation.ts
  convert-prisma-notation.ts
Due: rome format --write, rome check

Add .env.development
  .env.development
Due: none

Add app.css
  src/styles/app.css
Due: none

Impl /api/graphql
  .gitignore
  docker-compose.yaml
  generated/.gitkeep
  nexus/context.ts
  nexus/schema.ts
  nexus/server.ts
  nexus/types/Post.ts
  nexus/types/User.ts
  nexus/types/index.ts
  package.json
  pnpm-lock.yaml
  prisma/migrations/20230205110521_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/pages/api/graphql.ts
  src/pages/api/hello.ts
  tsconfig.json
Due: rome format --write, rome check, prisma format

Show user list
  src/pages/_app.tsx
  src/pages/index.tsx
  src/urql-client.ts
Due: rome format --write, rome check

Path conditions:
  rome format --write: any of: *.{js,jsx,ts,tsx}
  rome check: any of: *.{js,jsx,ts,tsx}
  prisma format: any of: *.prisma
